<div style=" display: flex; justify-content: space-between; flex-wrap: nowrap; flex-direction: column; min-height: 100vh; ">
<div class="container-fluid navbar-dark bg-dark">
  <div class="container">
    <div class="center">
      <app-nav-bar></app-nav-bar>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<div class="container-fluid navbar-dark bg-dark">
  <div class="container">
    <div class="center">
      <app-footer></app-footer>
    </div>
  </div>
</div>
</div>
