<nav class="navbar navbar-expand navbar-dark bg-dark p-0">
  <a class="navbar-brand d-flex" href="javascript:void(0)" style="width: 55px;height: 60px;background: linear-gradient(120deg, #007bff,#007bff);border-radius: 0px 0px 0px 0px;justify-content: center;align-items: center;color: #ffffff;">
    <!-- <i class="material-icons md-24">face</i> -->
    <span class="material-symbols-outlined notranslate" content="notranslate" style="font-size: 26px;">draft</span>

  </a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="navbar-nav">
    <a class="nav-item nav-link" [routerLink]="['/list']" [routerLinkActive]="['active']">Demo 1</a>
    <a class="nav-item nav-link" [routerLink]="['/drag-and-drop']" [routerLinkActive]="['active']">Demo 2</a>
  </div>
</nav>
